* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #000;
    font-family: 'Arial', sans-serif;
}

.app-container {
    width: 100vw;
    height: 100vh;
}

.info-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(255, 255, 255, 0.48) 0 0 20px;
    padding: 25px 45px 25px 45px ;
    border-radius: 10px;
    max-width: 550px;
    backdrop-filter: blur(10px);
    z-index: 10;
    animation: fadein 1.5s;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.info-panel h2 {
    margin-bottom: 20px;
    color: #ffa500;
}

.info-panel p {
    line-height: 1.9;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #ff4444;
    border: none;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.close-btn:hover {
    background: #ff6666;
}